<?xml version="1.0" encoding="utf-8"?>
<service>
    <short>KafkaConnect</short>
    <description>Confluent Platform - Kafka Connect</description>
 
    <port protocol="tcp" port="{{ kctenant.port }}" />

</service>